.ql-toolbar {
  display: flex !important;
  align-items: center !important;
}
.ql-container {
  border: none !important;
  min-height: 300px !important;
}

.ql-snow .ql-tooltip {
  z-index: 9999;
}

@media (max-width: 768px) {
  .quill {
    min-height: 150px !important
  }

  .ql-container {
    min-height: 150px !important;
  }
}
